 <nav class="bg-gray-100" data-controller="mobile-menu">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">

      <div class="flex space-x-4">
        <div>
         <%= link_to dashboard_blog_posts_path, class: "flex items-center py-5 px-2 text-gray-700 hover:text-gray-900" do %>
            <%= image_tag("logo.png", alt: 'blopo logo', class: "h-6 w-6 mr-1") %>
            <span class="font-bold">BloPo</span>
          <% end %>
        </div>
      </div>

      <div class="hidden md:flex items-center space-x-1">
        <% if user_signed_in? %>
          <%= link_to edit_user_registration_path do %>
            <span class="py-5 px-4">Profile</span>
          <% end %>
          <%= link_to blog_posts_path do %>
            <span class="py-5 px-4">My Blog</span>
          <% end %>
          <%= button_to destroy_user_session_path, method: :delete do %>
            <span class="py-5 px-4">Log out</span>
          <% end %>
        <% else %>
          <%= link_to user_session_path do %>
            <span class="py-5 px-4">Login</span>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <span class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Signup</span>
          <% end %>
        <% end %>
      </div>

      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button"  data-action="click->mobile-menu#toggleMenu">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>

  <div class="mobile-menu hidden md:hidden" data-mobile-menu-target="menu">
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path do %>
        <span class="block py-2 px-4 text-sm hover:bg-gray-200">Profile</span>
      <% end %>
      <%= link_to blog_posts_path do %>
        <span class="block py-2 px-4 text-sm hover:bg-gray-200">My Blog<span>
      <% end %>
      <%= button_to destroy_user_session_path, method: :delete do %>
        <span class="block py-2 px-4 text-sm hover:bg-gray-200">Log out</span>
      <% end %>
    <% else %>
      <%= link_to user_session_path do %>
        <span class="block py-2 px-4 text-sm hover:bg-gray-200">Login</span>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <span class="block py-2 px-4 font-bold hover:bg-gray-200">Signup</span>
      <% end %>
    <% end %>
  </div>
</nav>
